<!DOCTYPE html>
<html>
<head>
  <title>Error - What2Watch</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    .error-message {
      text-align: center;
      font-size: 80px;
    }
  </style>
</head>
<body>
  <div class="error-message">
    <%= error %>
  </div>
</body>
</html>